/* Zuz Generated CSS */

.zw000esk { width: 100%; }
.zh00emqf { height: 80px; }
.zp00k7my { padding-left:30px;padding-right:30px; }
.zz00lr8f { z-index: 99; }
.zp003coq { position:sticky; }
.zt003is9 { top: 0px; }
.zf0052em { flex: 1; }
.zb005y2z { background: var(--surface); }
.zh001rn6 { height: 30px; }
.zp002s18 { padding: 5px 20px; }
.zb00bxgb { border-radius: var(--radius-md); }
.zt00hlwq { transition: all 0.4s var(--bounce) 0s; }
.zw00430g { width: 55px; }
.zf00l5bj { filter: shadow(0px,0px,0px,0.2px); }
.zf00etom { font-size: var(--text-lg); }
.zt00acjc { text-decoration:none; }
.zc00e387 { color: var(--text-primary); }
.zc006a4s:hover { color: var(--text-primary-hover); }
.zd00bc0j { display:flex; }
.za009bpl { align-items:center; }
.zj005put { justify-content:center; }
.zg00bajn { gap: 5px; }
.zp0077xb { position:relative; }
.zs00e5gw:hover .--img { scale: 1.2; }
.zh00k0on { height: 200vh; }
.zh00h5dj { height: calc(100vh - 80px); }
.zt00dl5l { top: -30px; }
.zh007pst { height: 100%; }
.zf00dcq6 { font-size: var(--text-7xl); }
.zl00hjw3 { line-height: 0.9; }
.zb00am79 { background-image: linear-gradient(to top, #fff, var(--surface)); }
.zc006cfx { color: transparent;background-clip: text;-webkit-background-clip: text; }
.zf001np7 { font-weight: bold; }
.zf00as3x { font-size: var(--text-6xl); }
.zf000hmx { font-size: var(--text-2xl); }
.zm00eu3b { margin-top: 30px; }
.zw007vqk { width: 100vw; }
.zh002jjq { height: 100vh; }
.zb00g2d3 { background-color: var(--surface); }
.zp00m92a { position:absolute; }
.zb0096yj { bottom: 0px; }
.zl000ov0 { left: 50%;--abc-x: -50%;translate: calc(var(--abc-x) + var(--fx-x, 0px)) var(--fx-y, 0px); }
.zf0082et { font-size: clamp(5rem, 7cqi, 10rem); }
.zh00dkxa { height: 90vh; }
.zl00by41 { left: 0px; }
.zz000dml { z-index: 0; }
.zt000iof { top:50%;left:50%;--abc-x:-50%;--abc-y:-50%;translate:calc(var(--abc-x) + var(--fx-x, 0px)) calc(var(--abc-y) + var(--fx-y, 0px)); }
.zz003blq { z-index: 1; }
.zr00hubt { right: 0vw; }
.zc00lhz8 { color: var(--text-primary-inverted) !important; }
.zg00818v { gap: 10px; }
.zp00arzm { padding-top: 50px; }

